/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

.btn{
    border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
    /* background: transparent; */
}

.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}


/* Custom Scrollbar Section Start Here */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.001);
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
/* Custom Scrollbar Section End Here */




:root{
    --bg_color: #f1f1f1;
    --nav_bg: #373737;
    --primary_color: #1d1d1d;
    --secondary_color: #FF6600;
    --tertiary_color: #6f6f6f;
}

.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg_color);
}


/*  */