/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

.btn{
    border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, .form-control:active:focus, .form-control.active:focus{
    outline: none;
    box-shadow: none;
    /* background: transparent; */
}

.form-select:focus, .form-select:active:focus, .form-select.active:focus{
    outline: none;
    box-shadow: none;
}


/* Custom Scrollbar Section Start Here */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.001);
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
/* Custom Scrollbar Section End Here */




:root{
    --bg_color: #f1f1f1;
    --nav_bg: #373737;
    --primary_color: #1d1d1d;
    --secondary_color: #FF6600;
    --tertiary_color: #6f6f6f;
}

.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg_color);
}
nav{
    width: 100%;
    height: auto;
    padding: 20px 60px;
    background: var(--nav_bg);
}
nav .logo{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--secondary_color);
    letter-spacing: 0.05rem;
}
nav .search_box{
    width: 350px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}
nav .search_box input{
    background: none !important;
    border: none;
    outline: none;
    color: var(--tertiary_color);
}
nav .nav-link{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary_color);
    letter-spacing: 0.01rem;
    margin-right: 0.3rem;
    transition: 0.5s ease-out;
}
nav .nav-link:hover{
    color: var(--secondary_color);
}
nav .active{
    font-weight: 600;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
}
.nav-link:focus, .nav-link:active:focus, .nav-link.active:focus{
    outline:none;
    box-shadow:none;
    color: var(--tertiary_color);
    background: transparent;
}
.dropdown-menu{
    background: var(--nav_bg);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.dropdown-menu .dropdown-item{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary_color);
    letter-spacing: 0.01rem;
    transition: 0.3s ease-out;
}
.dropdown-menu .dropdown-item:hover{
    background: var(--tertiary_color);
    color: var(--primary_color);
}


/*  */