/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.btn{
    border-radius: 4px;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus{
    outline:none;
    box-shadow:none;
}

.form-control:focus, 
.form-control:active:focus, 
.form-control.active:focus{
    outline: none;
    box-shadow: none;
}

.form-select:focus, 
.form-select:active:focus, 
.form-select.active:focus{
    outline: none;
    box-shadow: none;
}


/* Custom Scrollbar Section Start Here */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.001);
}
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}
/* Custom Scrollbar Section End Here */




:root{
    --bg_color: #fefefe;
    --nav_bg: #373737;
    --nav_color: #a3a3a3;
    --primary_color: #1d1d1d;
    --secondary_color: #fc624d;
    --tertiary_color: #858585;
    --hero_bg_gradient: linear-gradient(to right, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.68));
    --card_linear: linear-gradient(to top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.01));
}

.main_section{
    width: 100%;
    min-height: 100vh;
    background: var(--bg_color);
}
nav{
    width: 100%;
    height: auto;
    padding: 20px 60px;
    background: var(--nav_bg);
}
nav.fixed{
    position: fixed;
    width: 100%;
    height: auto;
    padding: 4px 60px;
    background: var(--nav_bg);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
nav .logo{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--secondary_color);
    letter-spacing: 0.05rem;
}
nav .search_box{
    width: 350px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
nav .search_box input{
    background: none !important;
    border: none;
    outline: none;
    color: var(--nav_color) !important;
}
nav .search_box .btn_search{
    font-size: 1.1rem;
    color: var(--secondary_color);
}
nav .nav-link{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--nav_color) ;
    letter-spacing: 0.01rem;
    margin-right: 0.3rem;
    transition: 0.5s ease-out;
}
nav .nav-link:hover{
    color: var(--secondary_color);
}
nav .active{
    font-weight: 600;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
}
.nav-link:focus, .nav-link:active:focus, .nav-link.active:focus{
    outline:none;
    box-shadow:none;
    color: var(--nav_color);
    background: transparent;
}
.dropdown-menu{
    background: var(--nav_bg);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.dropdown-menu .dropdown-item{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--nav_color);
    letter-spacing: 0.01rem;
    transition: 0.3s ease-out;
}
.dropdown-menu .dropdown-item:hover{
    background: var(--nav_color);
    color: var(--primary_color);
}

.nav_action{
    gap: 0.9rem;
}
.nav_action .action_btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav_color);
    font-size: 1.1rem;
    transition: all 0.5s ease-out;
}
.nav_action .action_btn:hover{
    color: var(--secondary_color);
    background: rgba(255, 255, 255, 0.18);
}
.nav_action .btn_cart span{
    background: var(--secondary_color);
    color: var(--primary_color);
}


/* Hero Section */
.hero_section{
    width: 100%;
    height: 92vh;
    background: var(--hero_bg_gradient), url("https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80") no-repeat;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
}
.hero_section .offer_title{
    font-size: 1.2rem;
    color: var(--secondary_color);
    font-weight: 500;
}
.hero_section .hero_title{
    font-size: 3.7rem;
    font-weight: bold;
    color: var(--bg_color);
    line-height: 4.7rem;
    letter-spacing: 0.1rem;
}
.hero_section .starting_pricing{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.hero_section .starting_pricing span{
    font-weight: 600;
    color: var(--nav_color);
}
.hero_section .btn_shop{
    background: var(--secondary_color);
    border: 2px solid var(--secondary_color);
    color: var(--primary_color);
    font-size: 1.2rem;
    font-weight: 500;
}


/* Featured Section */
.featured_section{
    width: 100%;
    height: auto;
    padding: 60px 100px;
}
.feature_card{
    position: relative;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    box-shadow: 0 0.5px 20px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    transition: transform 0.5s ease-out;
}
.feature_img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-out;
}
.feature_card:hover .feature_img{
    transform: skew(-4deg) scale(1.2);
}
.feature_data{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.45);
}
.feature_data .feature_title{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--bg_color);
    letter-spacing: 0.1rem;
}


/* Products Section */
.product_section{
    width: 100%;
    height: auto;
    padding: 60px 100px;
    background: rgba(0, 0, 0, 0.03);
}
.product_section .explore_more_btn{
    font-size: 1.1rem;
    color: var(--secondary_color);
    font-weight: 500;
}
.box_title{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--primary_color);
    letter-spacing: 0.03rem;
}

.product_section .product_card{
    position: relative;
    background: var(--bg_color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s ease-out;
}
.product_section .product_card:hover{
    box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.35);
}
.product_card .product_img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    transition: opacity 0.5s ease-out;
}
.product_card .p_tag{
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--secondary_color);
    border-radius: 4px;
    font-size: 0.79rem;
    color: var(--primary_color);
}
.product_card .save_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.2rem;
    color: var(--primary_color);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.product_card:hover .save_btn{
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
.product_data .product_title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary_color);
    letter-spacing: 0.04rem;
    transition: 0.5s ease-out;
}
.product_data .product_title:hover{
    color: var(--secondary_color);
}
.product_data .rating{
    font-size: 0.87rem;
    color: #f9b032;
}
.product_data .review{
    font-size: 0.89rem;
    color: var(--secondary_color);
}
.product_data .price{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary_color);
    letter-spacing: 0.05rem;
}
.product_data .price .discount_price{
    font-size: 1.03rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.product_data .addtocart_btn{
    height: 38px;
    background: rgba(0, 0, 0, 0.12);
    border: 2px solid rgba(0, 0, 0, 0.20);
    font-size: 1.15rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Section */
footer{
    width: 100%;
    height: auto;
    padding: 60px;
    background: var(--primary_color);
}
footer .logo{
    font-size: 2.7rem;
    font-weight: bolder;
    color: var(--secondary_color);
    letter-spacing: 0.1rem;
}
footer .desc{
    font-size: 0.99rem;
    color: var(--tertiary_color);
    font-weight: 500;
}
.store_detail{
    font-size: 0.94rem;
    color: var(--tertiary_color);
    font-weight: 400;
    letter-spacing: 0.02rem;
    transition: 0.5s ease-out;
}
.store_detail:hover{
    color: rgba(255, 255, 255, 0.25);
}
.store_social_section{
    width: 100%;
    height: auto;
    gap: 1rem;
}
.social_box{
    width: 33px;
    height: 33px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--secondary_color);
    background: rgba(252, 98, 77, 0.05);
    font-size: 1.2rem;
    color: var(--tertiary_color);
    transition: 0.5s ease-out;
}
.social_box:hover{
    color: var(--secondary_color);
}
footer .footer_title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--nav_color);
    letter-spacing: 0.07rem;
}
.link_section{
    width: 100%;
    height: auto;
}
.link_section .link{
    color: var(--tertiary_color);
    font-size: 1.05rem;
    font-weight: 500;
    transition: 0.5s ease-out;
}
.link_section .link:hover{
    color: var(--secondary_color);
}
.paymentt_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.payment img{
    max-width: 70px;
    height: 50px;
}
.copy_section{
    font-size: 0.99rem;
    color: rgba(255, 255, 255, 0.20);
    letter-spacing: 0.04rem;
}
.developer_section{
    font-size: 0.99rem;
    color: rgba(255, 255, 255, 0.20);
    letter-spacing: 0.04rem;
}
.developer_section a{
    color: var(--secondary_color);
    font-weight: 600;
}

/* ====================== Next Page (file Started) ====================== */

/* Detail Section */
.bradcrumb_section{
    width: 100%;
    height: auto;
    background: #c3c3c32e;
    /* background: rgba(203, 203, 203, 0.18); */
    padding: 20px 60px;
}
.bradcrumb_section .breadcrumb-item a{
    font-size: 1.0rem;
    color: var(--tertiary_color);
    font-weight: 600;
    transition: 0.5s ease-out;
}
.bradcrumb_section .breadcrumb-item a:hover{
    color: var(--secondary_color);
}
.bradcrumb_section .active{
    color: var(--tertiary_color);
}

.detail_section{
    width: 100%;
    height: auto;
    padding: 20px 100px;
}
.detail_img_box{
    width: 100%;
    height: auto;
    position: relative;
}
.product_detail_img{
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
    border-radius: 4px;
}
.detail_offer{
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--secondary_color);
    border-radius: 4px;
    font-size: 0.89rem;
    color: var(--primary_color);
}
.product_detail_data{
    width: 100%;
    height: auto;
}
.product_detail_data .product_title{
    font-size: 2.0rem;
    font-weight: 500;
    color: var(--primary_color);
    letter-spacing: 0.04rem;
}
.price_section{
    width: 100%;
    height: auto;
}
.price_section .seeling_price{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary_color);
    letter-spacing: 0.04rem;
}
.price_section .discount_price{
    font-size: 1.0rem;
    font-weight: 450;
    color: var(--tertiary_color);
    letter-spacing: 0.04rem;
}
.price_section .desc{
    font-size: 0.99rem;
    color: var(--tertiary_color);
}
.qty_title{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary_color);
}
.quantity_section{
    column-gap: 1rem;
}
.qty_box{
    height: 40px;
    /* background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.18); */
    border-radius: 4px;
    /* column-gap: 0.7rem; */
    overflow: hidden;
}
.qty_btn{
    height: 100%;
    background: var(--secondary_color);
    border: 1px solid var(--secondary_color);
    border-radius: 0 !important;
}
.qty_count{
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    color: var(--primary_color);
    font-weight: 500;
    letter-spacing: 0.01rem;
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_save_section{
    column-gap: 1.5rem;
}

.cart_save_section .btn_cart{
    height: 38px;
    background: var(--secondary_color);
    border: 2px solid var(--secondary_color);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary_color);
}

.cart_save_section .btn_save{
    width: 40px;
    height: 38px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid var(--tertiary_color);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary_color);
}
.review_rating .rating_section{
    font-size: 0.87rem;
    color: #f9b032;
}
.review_rating .vr_line{
    width: 1.5px;
    height: 15px;
    background: var(--tertiary_color);
}
.review_rating .review{
    font-size: 1.0rem;
    color: var(--secondary_color);
    font-weight: 500;
}
.detail_section .product_section{
    width: 100%;
    height: auto;
    padding: 60px 30px;
    background: rgba(0, 0, 0, 0.01);
}


/*  */